*{
box-sizing: border-box; 
font-family: "Montserrat";  
margin: 0;
padding: 0
}

body{ 
    color: black;
}
    


    header {background-color: #8fbdd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    }
 
    
    h1, h2{color: #7195a7;
    margin-bottom: 32px;}
    h4 {margin: 32px;}
    h3{font-weight: normal;}

    header nav a {color: #2e3c42;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    }

    #inicio{ 
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 80px 80px 120px;
        padding-bottom: 24px;
        position: left;
    }
    

    #valores {background-color: #7195a7;
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 80px 80px 80px 200px;
        position: left;
        
        
    }
        .val{color: #000;
            max-width: 950px;
            margin: 0 auto;
        margin-bottom: 32px;}

/* 20px em cima, 10px à direita, 30px embaixo, 15px à esquerda */
    #diagnostico{
        background-color: white;
        display: block;
        align-items: center;
        gap: 64px;
        margin: auto;
        padding: 80px 80px 100px 350px;
        position: left;
    }

    .diag{color: #7195a7;
        margin-bottom: 32px;}

        .nostico {margin-bottom: 32px;
        
        }
        .nosso {margin-left: 50;
        margin-right: 200px;
        word-wrap: break-word;}
        

    #acoes{ background-color: #7195a7;
        display: block;
        align-items: center;
        gap: 64px;
        padding: 80px 80px 100px 350px;
        position: left;
         }

         /* 20px em cima, 10px à direita, 30px embaixo, 15px à esquerda */

         .acoes {color: #000;
            max-width: 950px;
            margin: 0 auto;
        margin-bottom: 32px;}

    

    .paragrafo{ 
    line-height: 150%;
    margin-bottom: 32px;
    }

    #monitoramento{
        display: block;
        align-items: center;
        gap: 32px;
        padding: 64px 60px 80px 250px;
        justify-content: space-between
        
   }
   
   .monit{
        padding: 9px;
        padding-right: 100px;
   }

   .atualizacao { padding: 15px;
    padding-right: 60px;}
   
   #treinamento { padding: 80px 80px 100px 350px;  }